/config/config.php
/storage/*
!/storage/.gitkeep
!/storage/.htaccess
/public/uploads/*
!/public/uploads/.htaccess
/public/assets/theme-*.css
/public/assets/app-*.js
.DS_Store
/hub/config/config.php
/hub/storage/*
!/hub/storage/.gitkeep
